# Yeh ek example (demo) file hai jisse pata chale ki is project ko kaunse environment variables chahiye.
# Yeh file GitHub par upload HOGI taaki doosre developers dekh sakein.

MONGO_URI=your_mongodb_connection_string_here
PORT=5000

# Frontend Admin Login
VITE_ADMIN_EMAIL=your_admin_email_here
VITE_ADMIN_PASSWORD=your_admin_password_here
